.main-title {
  font-size: 36px;
  color: $black;
  font-family: "OpenSansBold";
}

.box-info {
  background-color: $babyBlue;
  border-radius: 12px;
  margin: 10px;
  width: 80% !important;
  padding: 10px;

  h3 {
    font-family: "OpenSansBold";
    color: $black;
  }
}
