.ticket-header {
  position: relative;
  background-image: url("../../../public/assets/img/arriva.jpg");
  height: 680px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  .bus-title {
    font-family: "OpenSansExtraBold";
    font-size: 96px;
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
}

.airplane {
  background-image: url("../../../public/assets/img/airplane.jpg");
  margin-bottom: 50px;
  margin-top: 50px;
  background-position: center;
}

.avio-content {
  position: absolute;
  bottom: 5%;
  left: 5%;

  p {
    font-size: 22px;
    margin-bottom: 40px;
  }
}

.avio-title {
  font-size: 64px;
  font-family: "OpenSansBold";
}

.arriva-title {
  color: $black;
  font-size: 72px;
  font-family: "OpenSansBold";
}

@media only screen and (max-width: 1300px) {
  .ticket-header {
    height: 500px;
    .bus-title {
      font-size: 72px;
    }
  }
  .arriva-title {
    font-size: 64px;
  }
  .avio-title {
    font-size: 48px;
  }

  .avio-content p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1200px) {
  .ticket-header {
    height: 300px;
    .bus-title {
      font-size: 48px;
      font-family: "OpenSansBold";
    }
  }
  .arriva-title {
    font-size: 36px;
  }
  .avio-content {
    bottom: 20px;

    p {
      color: white;
    }
  }
}

@media only screen and (max-width: 769px) {
  .ticket-header {
    height: 300px;
    .bus-title {
      font-size: 36px;
      font-family: "OpenSansBold";
    }
  }

  .arriva-title,
  .avio-title {
    font-size: 28px;
  }
}
