.about-us-wrapper {
  h3 {
    color: $oceanBlue;
    font-size: 36px;
    font-family: "OpenSansBold";
  }
}

@media only screen and (max-width: 769px) {
  .about-us-wrapper h3 {
    font-size: 24px;
    padding-bottom: 20px;
  }
}

// Journey styles

.journey-wrapper {
  h2 {
    font-size: 48px;
    color: $black;
    font-family: "OpenSansBold";
  }
  p {
    color: $black;
  }
}

@media only screen and (max-width: 960px) {
  .journey-wrapper {
    h2 {
      font-size: 28px;
    }
  }
}
